<!-- Handlebars -->
<script id="badge-template" type="text/x-handlebars-template">
    <div class="badge-container" id="{{slug}}-badge">
      <div class="row">
        <div class="col-3 aligncenter">
          {{#if image}}
          <img src="{{image}}" class="{{#if completed}}completed{{/if}}" alt="{{name}}" />
          {{else}}
          <h4>{{name}}</h4>
          {{/if}}
          {{#if completed}}
          <button class="add-to-backpack" data-badge="{{slug}}" data-completed="{{completed_date}}">Add to Backpack</button>
          {{/if}}
        </div>
        <div class="col-9">
          <p>{{ badge_requirement_text }}</p>
          {{#if classes }}
            <table class="classes">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Name</th>
                  <th>Completed</th>
                </tr>
              </thead>
              <tbody>
            {{#each classes}}
              <tr>
                <td><div class="{{#if completed}}completed{{/if}} checkmark"></div></td>
                <td>{{name}}</td>
                <td>{{completed_date}}</td>
              </tr>
            {{/each}}
              </tbody>
            </table>
          {{/if}}
          {{#if exams}}
          <p>Pass this exam:</p>
          <table class="classes">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Exam</th>
                <th>Completed</th>
              </tr>
            </thead>
            <tbody>
            {{#each exams}}
              <tr>
                <td><div class="{{#if completed}}completed{{/if}} checkmark"></div></td>
                <td>{{name}}</td>
                <td>{{completed_date}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
          {{/if}}
          <p>{{ demonstration_text }}</p>
        </div>
      </div>
    </div>
</script>
