<!-- Handlebars -->
<script id="badge-template" type="text/x-handlebars-template">
    <div class="badge-container" id="{{slug}}-badge">
      <div class="row">
        <div class="col-3 aligncenter">
          <img src="{{image}}" class="{{#if completed}}completed {{else}}grayscale {{/if}}" alt="{{name}}" />
          {{#if completed}}
          <h5 style="font-weight: bold; padding-bottom: 0">Open Badges</h5>
          <button class="add-to-backpack" data-badge="{{slug}}" data-completed="{{completed_date}}">Add to Backpack</button>
          {{/if}}
        </div>
        <div class="col-9">
          <h2 style="font-weight: 600;">{{name}}{{#if badge_requirement_text}} Badge{{/if}}{{#if completed_date}}<div style="font-weight: normal; font-size: 16px; line-height: 18px;"><strong>Completed:</strong> {{formatDate completed_date day="numeric" month="short" year="numeric"}}</div>{{/if}}</h2>
          <h5>{{#nl2br}}{{badge_requirement_text}}{{/nl2br}}</h5>
          {{#if classes }}
            <table class="classes">
              <tbody>
            {{#each classes}}
              <tr>
                <td><div class="{{#if completed}}completed{{/if}} checkmark"></div></td>
                <td>{{name}}</td>
              </tr>
            {{/each}}
              </tbody>
            </table>
          {{/if}}
          <h5>Demonstrate Comprehension:</h5>
          {{#if exams}}
          <table class="classes">
            <tbody>
            {{#each exams}}
              <tr>
                <td><div class="{{#if completed}}completed{{/if}} checkmark"></div></td>
                <td>{{name}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
          {{/if}}
          {{#if demonstration_text}}
          <table class="classes">
            <tbody>
              <tr>
                <td><div class="{{#if completed}}completed{{/if}} checkmark"></div></td>
                <td>{{demonstration_text}}</td>
              </tr>
            </tbody>
          </table>
          {{/if}}
        </div>
      </div>
    </div>
</script>
<script id="certificate-template" type="text/x-handlebars-template">
    <div class="certificate-container" id="{{slug}}-certificate">
      <div class="row">
        <div class="col-3 aligncenter">
          <img src="{{image}}" class="{{#if completed}}completed {{else}}grayscale {{/if}}" alt="{{name}}" />
          {{#if completed}}
          <h5 style="font-weight: bold; padding-bottom: 0">Open Badges</h5>
          <button class="add-to-backpack" data-badge="{{slug}}" data-completed="{{completed_date}}">Add to Backpack</button>
          {{/if}}
        </div>
        <div class="col-9">
          <h2 style="font-weight: 600;">{{name}}{{#if completed_date}}<div style="font-weight: normal; font-size: 16px; line-height: 18px;"><strong>Completed:</strong> {{formatDate completed_date day="numeric" month="short" year="numeric"}}</div>{{/if}}</h2>
          <h5>{{#nl2br}}{{badge_requirement_text}}{{/nl2br}}</h5>
          {{#if criteria }}
            <table class="classes">
              <tbody>
            {{#each criteria}}
              <tr>
                <td><div class="{{#if completed}}completed{{/if}} checkmark"></div></td>
                <td>{{name}}</td>
              </tr>
            {{/each}}
              </tbody>
            </table>
          {{/if}}
          {{#if demonstration_text}}
          <table class="classes">
            <tbody>
              <tr>
                <td><div class="{{#if completed}}completed{{/if}} checkmark"></div></td>
                <td>{{demonstration_text}}</td>
              </tr>
            </tbody>
          </table>
          {{/if}}
        </div>
      </div>
    </div>
</script>
<script id="table-row-template" type="text/x-handlebars-template">
    {{#if rows}}
      {{#each rows}}
      <tr data-ts="{{timestamp}}">
        <td>{{name}}</td>
        <td style="text-align: center;">{{#if resource_id}}<a class="resource-page-link" href="#" data-resource-page-id="{{resource_id}}">{{link_text}}</a>{{/if}}</td>
        <td style="text-align: center;">
          {{#if date}}
            {{formatDate date day="numeric" month="numeric" year="numeric"}}
          {{/if}}
        </td>
      </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="3" style="text-align:center;"><h3>Class Data Not Found</h3><p>No data returned when querying our records using <a href="#">{{student_email}}</a>.<br><br>Please check with B2T Training and have them verify your account.</p></td>
      </tr>
    {{/if}}
</script>
<script id="badge-assertion-modal-template" type="text/x-handlebars-template">
  <div class="b2t-assertion-modal" id="b2t-assertion-modal" aria-hidden="true">
    <div class="b2t-assertion-modal__overlay" data-b2t-modal-close></div>
    <div class="b2t-assertion-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="b2t-assertion-modal-title">
      <div class="b2t-assertion-modal__header">
        <h3 id="b2t-assertion-modal-title">Badge issued</h3>
        <button type="button" class="b2t-assertion-modal__close" data-b2t-modal-close aria-label="Close modal">Close</button>
      </div>
      <p class="b2t-assertion-modal__copy">Copy the badge URL below and paste it into your badge wallet (Badgr, Canvas Credentials, etc.).</p>
      <label for="b2t-assertion-url">Badge URL</label>
      <input id="b2t-assertion-url" type="text" readonly value="" />
      <div class="b2t-assertion-modal__actions">
        <button type="button" class="b2t-button" data-b2t-copy>Copy</button>
        <button type="button" class="b2t-button b2t-button--secondary" data-b2t-select>Select</button>
      </div>
      <p class="b2t-assertion-modal__status" role="status" aria-live="polite"></p>
    </div>
  </div>
</script>
