<!-- Handlebars -->
<script id="badge-template" type="text/x-handlebars-template">
    <div class="badge-container" id="{{slug}}-badge">
      <h2>{{name}}{{#if badge_requirement_text}} Badge{{/if}}</h2>
      <div class="row">
        <div class="col-3 aligncenter">
          <img src="{{image}}" class="{{#if completed}}completed{{/if}}" alt="{{name}}" />
          {{#if completed}}
          <button class="add-to-backpack" data-badge="{{slug}}" data-completed="{{completed_date}}">Add to Backpack</button>
          {{/if}}
        </div>
        <div class="col-9">
          <h4>Achievement Criteria:</h4>
          <h5>{{ badge_requirement_text }}</h5>
          {{#if classes }}
            <table class="classes">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Name</th>
                  <th>Completed</th>
                </tr>
              </thead>
              <tbody>
            {{#each classes}}
              <tr>
                <td><div class="{{#if completed}}completed{{/if}} checkmark"></div></td>
                <td>{{name}}</td>
                <td>{{completed_date}}</td>
              </tr>
            {{/each}}
              </tbody>
            </table>
          {{/if}}
          <h5>Demonstrate Comprehension</h5>
          {{#if exams}}
          <table class="classes">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Exam</th>
                <th>Completed</th>
              </tr>
            </thead>
            <tbody>
            {{#each exams}}
              <tr>
                <td><div class="{{#if completed}}completed{{/if}} checkmark"></div></td>
                <td>{{name}}</td>
                <td>{{completed_date}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
          {{/if}}
          {{#if demonstration_text}}
          <table class="classes">
            <tbody>
              <tr>
                <td><div class="{{#if completed}}completed{{/if}} checkmark"></div></td>
                <td>{{demonstration_text}}</td>
              </tr>
            </tbody>
          </table>
          {{/if}}
        </div>
      </div>
    </div>
</script>
